main
    display: grid
    gap: 1rem
    grid-template-columns: 0.75fr 1.25fr
    grid-template-areas: "foto form" "btn btn"

main > section
    display: block
    grid-area: foto
    border-radius: 0.4rem
    background-size: cover

main > form
    grid-area: form

main > button
    grid-area: btn
    color: white
    background-color: #4c2fdd
    margin: 0 auto
    border: none
    font-size: 1.2rem
    border-radius: 0.4rem
    height: 2.4rem
    width: 60%

form > div
    grid-template-areas: "title input" "err err"
    border: 0.2rem solid aliceblue
    grid-template-rows: auto 1fr
    grid-template-columns: 1fr 1fr
    border-radius: 0.4rem
    margin: 0.15rem 0
    padding: 0.1rem
    display: grid

form > div.error, form > div.is-required
    border-color: red

form > div.error > div, form > div.is-required > div
    display: flex

form > div > div
    grid-area: err
    display: none
    justify-content: center
    align-items: center
    color: red
    font-size: 0.8rem

main
    padding: 1.4rem
    border-radius: 0.4rem
    background-color: aliceblue

form > div > label
    grid-area: title

form > div > input
    grid-area: input